
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --ff-primary-: 'Jost', sans-serif;
    --ff-secondary-: 'Lato', sans-serif;
}
/* Basic Reset */
*, 
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.document{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;

}

.header-row{
    width: 100%;
    padding: 0.3em 0.6em;
    display: flex;
    align-items: center;
}
.header-row:first-of-type{
    /* background: #1390e2; */
    background: #000;
    padding: 0.5em 1em;
    border-bottom-color: #fff;
}

.header-row:last-of-type{
    position: relative;
    padding: 1.3em 1em;
}
.header-row .header-text{
    margin: auto;
    display: block;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-family: var(--ff-primary-);
}
.logo-link{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.logo-link img{
    width: 10vw;
    min-width: 100px;
    height: auto;
}
.search-btn{
    margin-right: 1em;
}

.header-icon{
    width: 26px;
    height: 26px;
    stroke: #000;
    stroke-width: 1;
}
.open-icon{
    width: 36px;
    height: 36px;
}
.search-icon{
    transform: translateY(2px);
}
.cart-icon{
    stroke-width: 2 !important;
}
.header button{
    background: none;
    border-style: none;
    cursor: pointer;
}

.menu-open-btn{
    margin-right: auto;
}

.content{
    width: 100%;
}

/* 
=====================
Hero Section
=====================
 */
.hero-section{
    background-image: url("data.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tagline{
    font-family: var(--ff-primary-);
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 10em;
}
.subtag{
    font-family: var(--ff-secondary-);
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    margin-top: 1em;
}
.hero-btn{
    background: #fff;
    border-style: none;
    color: #000;
    font-family: var(--ff-secondary-);
    font-size: 18px;
    font-weight: bold;
    padding: 0.4em 0.8em;
    margin-top: 1em;
    margin-bottom: 4em;
}

.footer{
    width: 100%; 
    
}
.footer-row{
    width: 100%;
    /* background: #1390e2; */
    background: #000;
    border-bottom: 1px solid #fff;
    display: flex;
}
.data-container{
    position: relative;
    width: 100%;
    display: flex;
    padding: 1em 2em;
    align-items: center;
}
.data-container:hover{
    cursor: pointer;
}
.data-container h3{
    font-family: var(--ff-secondary-);
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
}
.arrow{
    background: none;
    border-style: none;
    margin-left: auto;
}
.arrow-btn{
    width: 26px;
    height: 26px;
    stroke: #fff;
    stroke-width: 1;
    transform: rotate(180deg)
}

.footer-row:last-of-type{
    padding: 0.3em 0.6em;
}
.copyright{
    font-family: var(--ff-secondary-);
    font-size: 12px;
    font-weight: 300;
    text-align: center;
}
