/* Basic Reset */
*, 
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.document{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.header-row{
    width: 100%;
    padding: 0.3em 0.6em
}
.header-row p{
    margin: auto;
}

.logo-link{
    margin: auto;
}

.search-btn{
    margin-right: 1em;
}